{% extends 'app/base.html' %}
{% load static %}
{% block title %}Address Section{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row"> 
  <div class="col-sm-2 border-end text-center">
   <h5>Welcome {{request.user}}</h5>  
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn {{active}}">Address</a></li>
   </ul>
  </div>

  <div class="col-sm-9 offset-sm-1">
   <div class="row">
     {% for add in addr %}  

    <div class="col-sm-6">
     <div class="card">
      <div class="card-body">
       <h3>Address {{forloop.counter}}</h3>
       <hr>
       <p>Name: {{add.name}}</p>
       <p>Locality: {{add.locality}}</p>
       <p>City: {{add.city}}</p>
       <p>State: {{add.state}}</p>
       <p>Pin Code: {{add.zipcode}}</p>
      </div>
     </div>
    </div>

     {% endfor %}
   </div>
  </div>

 </div>
</div>
{% endblock main-content %}