{% extends 'app/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">

  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
      {% for item in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: {{item.total_cost}}</p>
        </div>
      </div>
      {% endfor %}
      <p class="fw-bold">Totl Cost + Rs. 70 = {{totalamount}}</p>
    <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
  </div>

  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>

    <form action="/paymentdone" id="myform">
     {% for ad in add %}

      <div class="card">
        <div class="card-body">
        <h5>{{ad.name}}</h5>
        <p>{{ad.locality}}, {{ad.city}}, {{ad.state}} - {{ad.zipcode}}</p>
        </div>
      </div>

        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" value="{{ad.id}}" name="custid" id="custadd{{forloop.counter}}">
          <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
            Address: {{forloop.counter}} </label>
        </div>

       {% endfor %}  
        <div class="text-end">
         <!-- Simple Payment Button 
          <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>
        -->
         <div id="paypal-button-container"></div>
        </div>

      </form>
    </div>

  </div>
</div>
{% endblock main-content %}

{% block payment-gateway %}

<script src="https://www.paypal.com/sdk/js?client-id=AXgySSsEZ0hkOG6CfFU-7wSU2nVGZffzMKyAmnfNqhxEEM0k6P4ivpG6iTAa9W8ooKAlFxdW1bS1tyl_&currency=USD"> // Replace YOUR_CLIENT_ID with your sandbox client ID
</script>

<!-- Add the checkout buttons, set up the order and approve the order -->
<script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: '{{totalamount}}'
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      return actions.order.capture().then(function(details) {
        alert('Transaction completed by ' + details.payer.name.given_name);
        document.getElementById('myform').submit()
      });
    }
  }).render('#paypal-button-container'); // Display payment options on your web page
</script>

{% endblock payment-gateway %}