{% extends 'app/base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-2 border-end text-center">
  <h5>Welcome {{request.user.username}}</h5>
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn {{active}}">Profile</a></li>
    <li class="d-grid"><a href="{% url 'address' %}" class="btn">Address</a></li>
   </ul> 
  </div> 
  <div class="col-sm-6 offset-sm-1">
   <form action="" method="post">
    {% csrf_token %}
    {% for fm in form %}
     <div class="form-group mb-3">
       {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small> 
     </div>
    {% endfor %}    
    <div class="col-12 mt-3 text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    {% if messages %}
     {% for message in messages %}
      <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5" {% endif %} >{{message}}</p>
     {% endfor %}
    {% endif %}    
   </form>
  </div>
 </div>
</div>
{% endblock main-content %}