{% extends 'app/base.html' %}
{% load static %}
{% block title %}Shoes{% endblock title %}
{% block main-content %}

<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
     <a href="{% url 'watches' %}" class="list-group-item
     list-group-item-action" aria-current="true">All Watches</a>

     <a href="{% url 'watchesdata' 'Fastrack' %}" class="list-group-item
     list-group-item-action" aria-current="true">Fastrack</a>  

     <a href="{% url 'watchesdata' 'Puma' %}" class="list-group-item
     list-group-item-action" aria-current="true">Puma</a>  

   </div>
  </div>
  <div class="col-sm-8 offset-sm-1">
   <div class="row">
     {% for product in wat %}
      <div class="col-sm-4 text-center mb-4">
       <a href="{% url 'product-detail' product.id %}" class="btn">
         <div class="item m-2">
           <img src="{{product.product_image.url}}" alt="" class="" width="150" height="150">
           <div class="fw-bold">{{product.title}}</div>
           <div class="fw-bold">Rs. {{product.selling_price}}  
           <small class="fw-light text-muted">Discount: {{product.discounted_price}}</small></div> 
        </div>   
       </a>   
      </div>
     {% endfor %}  
   </div>
  </div> 
 </div>
</div>

{% endblock main-content %}




